.analysis-wrapper {
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

span {
    color: #408BFE
}

.analysis--tiitle {
    font-weight: 600;
    margin-bottom: 4vh;
}

#myChart {
    height: 25vh !important;
    width: 110vw !important;
    margin-left: -12vw;
    margin-top: 60px;
}

.waste {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #9D9D9D;
}

.right-part {
    text-align: end;
}

.waste--title, .waste--price {
    font-size: 20px !important;
    font-weight: 600;
}

.waste--category, .waste--added-waste {
    font-size: 15px !important;
    color: #9D9D9D;
}

.added {
    color: #35AC52;
}

.removed {
    color: #E10A0A;
}