.profile-wrapper {
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    overflow-y: auto;
}

.profile-wrapper .brief-channel {
    display: flex;
    margin: 47px auto;
    margin-bottom: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.profile-wrapper .brief-channel div {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 1px 20px rgb(255, 255, 255);
}

.profile-wrapper .brief-channel div img {
    width: 100%;
    height: 100%;
}

.profile-wrapper .brief-channel h3 {
    font-size: 34px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: "SFCompactRoundedBold", sans-serif;
}

.profile-wrapper .brief-channel p {
    font-size: 16px;
    font-weight: 600;
}

.profile-wrapper button {
    width: 100%;
    height: 50px;
    border-radius: 18px;
    font-size: 19px;
    font-weight: 600;
    margin-top: 10px;
    border: 2px solid #ffffff;
}

.profile-wrapper h4 {
    margin-top: 30px;
    font-size: 29px;
    margin-bottom: 10px;
}

.profile-wrapper .description {
    font-size: 22px;
}

[contenteditable]:focus {
    outline-offset: 4px;
    outline: 1px dashed rgba(80, 126, 217, 0.2);
}

.custom-select {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.custom-select select {
    display: none;
}

.wrapper__form {
    margin-top: 40px;
}

.wrapper__h2 {
    position: relative;
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
    font-size: 6.5vw;
    line-height: 110px;
    letter-spacing: 0.015em;
    text-transform: lowercase;
    color: var(--color-additional);
    margin-left: 75px;
    margin-bottom: 0;
}

.wrapper__text {
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 24px;
    letter-spacing: 0.095em;
    text-transform: lowercase;
    color: var(--color-additional);
    margin-left: 75px;
    margin-bottom: 80px;
}

.form {
    width: 60vw;
    height: 60vh;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 230px;
}

.label {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.015em;
    color: var(--color-additional);
}

.input_1 {
    font-family: 'Ruda', sans-serif;
    font-size: 15px;
    padding-left: 15px;
    width: 35vw;
    height: 5vh;
    border: none;
    border-left: 1px solid var(--color-additional);
    border-bottom: 1px solid var(--color-additional);
    background-color: var(--color);
    margin-bottom: 40px;
    margin-top: 15px;

}

.two_form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
}

.input_2 {
    font-family: 'Ruda', sans-serif;
    font-size: 15px;
    padding-left: 15px;
    width: 15vw;
    height: 5vh;
    border: none;
    border-left: 1px solid var(--color-additional);
    border-bottom: 1px solid var(--color-additional);
    background-color: var(--color);
    margin-bottom: 40px;
    margin-top: 15px;
}
input:focus {
    opacity: 0.3;
}

.btnWrapper {
    padding: 10px;
    color: var(--color);
    width: 300px;
    background-color: var(--color-additional);
    cursor: pointer;
    transition: .5s;
}
.submit {
    background-color: var(--color-additional);
    border: none;
}

.btnInner {
    padding: 14px;
    width: 300px;
    border: 1px solid var(--color);
    text-align: center;
    font-size: 18px;
    color: var(--color);
}

.btnInner,
.submit,
.btnWrapper:hover {
    cursor: pointer;
}

.btnInner,
.submit,
.btnWrapper:active {
    cursor: pointer;
}

.errors {
    color:#e1271d;
    margin:0;
    padding: 0;
}
.check_text {
    font-family: 'Ruda';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.015em;
    color: var(--color-additional);
    margin-bottom: 70px;
}
.go {
    text-decoration: underline;
    cursor: pointer;
}
.go:hover {
    text-decoration: underline;
    color: var(--light-gray);
}
input[type=checkbox] {
    border: 3px solid var(--color-additional);
    padding: 0.5em;
}

.red {
    color: #e1271d;
}
.col {
    display: flex;
    flex-direction: column;
}

@media (max-width: 780px) {
    .input_1 {
        width: 70vw;
    }

    .form {
        margin: auto 30px;
    }

    .input_2 {
        width: 30vw;
    }

    .two_form {
        gap: 4.5vw;
    }
    
    .btnWrapper {
       margin: 0 10px;
    }
}